.about {
  position: relative;
  padding: 140px 0 100px;
}
.about .container {
  padding: 0 16px;
}
.about__foto {
  position: absolute;
}
.about__foto-1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 293px;
  height: 605px;
  top: 12px;
  right: -93px;
}
.about__foto-2 {
  width: 368px;
  height: 275px;
  bottom: 0px;
  right: 0px;
}
.about__foto-3 {
  width: 880px;
  height: 460px;
  bottom: 0px;
  left: -588px;
}
.about__wrapper {
  position: relative;
  margin-bottom: 80px;
}
.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
}
.about__content-button {
  display: none;
  margin-bottom: 30px;
}
.about__button {
  margin: 0 auto;
}
.about__column {
  display: flex;
  flex-direction: column;
  max-width: 465px;
}
.about__column-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 20px;
}
.about__column-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.about__column-text--first {
  margin-bottom: 54px;
}
.about__column-slogan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 34px;
}
.about__img {
  width: 609px;
  height: 403px;
  background: url(../assets/img/about/about__pctr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1590px) {
  .about {
    padding: 100px 0 140px;
  }
  .about__foto-1 {
    display: none;
  }
  .about__foto-2 {
    width: 241px;
    height: 180px;
  }
  .about__foto-3 {
    width: 386px;
    height: 202px;
    left: -192px;
  }
  .about__img {
    width: 435px;
  }
  .about__wrapper {
    margin-bottom: 20px;
  }
  .about .container {
    max-width: 999px;
    padding: 0 30px;
  }
  .about__content {
    margin-bottom: 150px;
  }
}
@media (max-width: 999px) {
  .about {
    padding: 60px 0 100px;
  }
  .about__foto-1 {
    display: block;
    width: 231px;
    height: 476px;
  }
  .about__foto-2 {
    width: 175px;
    height: 131px;
  }
  .about__foto-3 {
    width: 386px;
    height: 202px;
    left: -251px;
  }
  .about__img {
    display: none;
  }
  .about__wrapper {
    margin-bottom: 20px;
  }
  .about__content {
    margin-bottom: 80px;
  }
  .about__column-header {
    margin-bottom: 20px;
  }
  .about__column-text--first {
    margin-bottom: 30px;
  }
  .about__column-slogan {
    margin-bottom: 20px;
  }
  .about .container {
    max-width: 640px;
  }
}
@media (max-width: 639px) {
  .about {
    padding: 20px 0 60px;
  }
  .about .container {
    padding: 0 10px;
  }
  .about__foto-1 {
    top: 38px;
    right: -74px;
    width: 105px;
    height: 217px;
  }
  .about__foto-2 {
    width: 85px;
    height: 71px;
  }
  .about__foto-3 {
    width: 138px;
    height: 72px;
    left: -80px;
  }
  .about__wrapper {
    width: 293px;
    margin: 0 auto 20px;
  }
  .about__content {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .about__content-button {
    display: flex;
  }
  .about__column-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .about__column-text-text--first {
    margin-bottom: 20px;
  }
  .about__column-slogan {
    margin-bottom: 10px;
  }
}
.gallery {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  padding: 1px;
  border-radius: 5px;
  max-width: 366px;
}
.card:hover {
  cursor: pointer;
}
.card__picture {
  width: 364px;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #fff;
  padding: 8px 15px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card__info-name {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.card__info-location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.card__column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1590px) {
  .card {
    width: 293px;
    margin-bottom: 60px;
    display: inline-flex;
  }
  .card__picture {
    width: 291px;
  }
}
@media (max-width: 999px) {
  .card__picture {
    width: 272px;
  }
}
@media (max-width: 639px) {
  .card {
    width: 293px;
    margin-bottom: 0px;
  }
  .card__picture {
    width: 291px;
  }
}/*# sourceMappingURL=about.css.map */