.instructions {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 70px 0px 100px;
}

@media (max-width: 999px) {
  .instructions {
    padding: 30px 0 20px;
  }
  .instructions .container {
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 639px) {
  .instructions {
    padding: 20px 0;
  }
  .instructions .container {
    max-width: 100%;
    padding: 10px;
  }
}
.box {
  padding: 40px 100px 60px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 30px;
}
.box__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 40px;
}
.box__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-bottom: 60px;
}
.box__text-weight {
  font-weight: 500;
  margin-bottom: 10px;
}
.box__text span {
  border-bottom: 1px solid #FE9013;
}
.box__slogan {
  margin: 0 auto 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}
.box__button {
  margin: 0 auto;
}

@media (max-width: 1590px) {
  .box {
    padding: 30px 50px 50px;
  }
  .box__header {
    margin-bottom: 20px;
  }
  .box__subtitle {
    margin-bottom: 20px;
  }
  .box__text {
    margin-bottom: 40px;
  }
  .box__text-weight {
    margin-bottom: 10px;
  }
}
@media (max-width: 999px) {
  .box {
    padding: 10px 20px 60px;
  }
  .box__slogan {
    margin-bottom: 20px;
  }
}
@media (max-width: 639px) {
  .box {
    padding: 20px 0px 40px;
    max-width: 300px;
    margin: 0 auto;
  }
  .box__text {
    display: none;
  }
  .box__header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .box__subtitle {
    font-size: 18px;
    text-align: center;
  }
}
.plan {
  display: flex;
  flex-direction: column;
  max-width: 764px;
  margin: 0 auto;
}
.plan__item:not(:last-child) {
  margin-right: 30px;
}
.plan__item-arrow {
  padding-top: 62px;
  align-self: flex-start;
}
.plan__item-card {
  display: flex;
  flex-direction: column;
}
.plan__item--wrapper {
  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9804B;
  margin-bottom: 30px;
}
.plan__cards {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 60px;
}
.plan__texts {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 44px;
}
.plan__text {
  width: 168px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  height: 44px;
}

@media (max-width: 999px) {
  .plan__item-arrow {
    display: none;
  }
  .plan__item:not(:last-child) {
    margin-right: 42px;
  }
  .plan__texts {
    margin-bottom: 40px;
  }
}
@media (max-width: 639px) {
  .plan__cards {
    flex-direction: column;
  }
  .plan__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .plan__item--wrapper {
    margin-bottom: 10px;
  }
}
.arrows {
  position: absolute;
  display: none;
  justify-content: center;
  top: -16px;
}
.arrows__item:not(:last-child) {
  margin-right: 115px;
}

@media (max-width: 999px) {
  .arrows {
    display: flex;
  }
}
@media (max-width: 639px) {
  .arrows {
    flex-direction: column;
    height: 684px;
    top: -10px;
  }
  .arrows__item {
    padding-left: 140px;
  }
  .arrows__item:not(:last-child) {
    margin-bottom: 225px;
  }
  .arrows__green {
    transform: rotate(90deg);
  }
}/*# sourceMappingURL=instructions.css.map */