@charset "UTF-8";
.testimonials {
  position: relative;
  padding: 140px 0 180px;
  overflow: hidden;
}
.testimonials .container {
  padding: 0 14px;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-bottom: 50px;
}
.testimonials__button {
  border-radius: 5px;
}
.testimonials__scrollbar-wrapper {
  overflow: hidden;
  margin: 0 auto;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(350deg, rgba(254, 189, 171, 0.74) 50%, #FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
  max-width: 600px;
  margin-bottom: 30px;
  padding: 1px;
}
.testimonials__scrollbar-wrapper:hover {
  cursor: pointer;
}
.testimonials__swiper {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.testimonials__swiper-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.testimonials__swiper-wrapper:hover {
  cursor: pointer;
}
.testimonials__swiper-scrollbar {
  display: flex;
  align-items: center;
  height: 6px;
  background: #ffffff;
  border-radius: 5px;
}
.testimonials__swiper-scrollbar-drag {
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
}
.testimonials__flower {
  position: absolute;
  width: 280px;
  bottom: -65px;
  right: -100px;
  transform: rotate(30deg);
}

@media (max-width: 1590px) {
  .testimonials {
    padding: 100px 0 140px;
  }
  .testimonials .container {
    max-width: 999px;
    padding: 0 30px;
  }
  .testimonials__scrollbar-wrapper {
    margin-bottom: 50px;
  }
  .testimonials__flower {
    width: 220px;
    bottom: -35px;
    right: -75px;
  }
}
@media (max-width: 999px) {
  .testimonials {
    padding: 60px 0 80px;
  }
  .testimonials .container {
    max-width: 640px;
    padding: 0 20px;
  }
  .testimonials__swiper-wrapper {
    flex-wrap: wrap;
  }
  .testimonials__flower {
    width: 160px;
    bottom: -42px;
    right: -68px;
  }
  .testimonials__swiper-wrapper {
    margin-bottom: 40px;
  }
  .testimonials__scrollbar-wrapper {
    display: none;
  }
  .testimonials__button {
    margin: 0 auto;
  }
  .testimonials__header {
    margin-bottom: 30px;
  }
}
@media (max-width: 639px) {
  .testimonials {
    padding: 30px 0 60px;
  }
  .testimonials .container {
    max-width: 320px;
    padding: 0 10px;
  }
  .testimonials__flower {
    width: 77px;
    transform: rotate(18deg);
    bottom: -20px;
    right: -30px;
  }
  .testimonials__swiper-wrapper {
    margin-bottom: 30px;
  }
  .testimonials__header {
    margin-bottom: 20px;
  }
  .testimonials__button {
    max-width: 240px;
  }
}
.comment {
  display: flex;
  min-width: 268px;
  height: 391px;
  border-radius: 20px;
}
.comment.comment-active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: flex;
  min-width: 268px;
  max-width: 268px;
  height: 391px;
  margin-top: 0px;
  border-radius: 20px;
  -webkit-animation: showComment 0.3s linear forwards;
          animation: showComment 0.3s linear forwards;
}
.comment.comment-active .comment__text {
  max-height: 309px;
}
.comment.comment-active .comment__wrapper {
  position: relative;
}
.comment__btn {
  position: absolute;
  top: -8px;
  right: -12px;
}
.comment__btn > div {
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  position: relative;
  cursor: pointer;
  z-index: 110;
}
.comment__btn > div > span::before, .comment__btn > div > span::after {
  top: 6px;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  transition-duration: 0.2s;
}
.comment__btn > div > span::before {
  content: "";
  transform: rotate(45deg);
}
.comment__btn > div > span::after {
  content: "";
  transform: rotate(-45deg);
}
.comment__wrapper {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%);
  border-radius: 20px;
  padding: 2px;
}
.comment__content {
  overflow: hidden;
  background: #F1F3F2;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 15px 14px 20px;
}
.comment__header {
  display: flex;
  margin-bottom: 10px;
}
.comment__avatar {
  width: 37px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.comment__column {
  display: flex;
  flex-direction: column;
}
.comment__user {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.comment__info {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  align-items: center;
}
.comment__info span {
  content: "•";
  display: flex;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 10px;
  background: #BDBDBD;
}
.comment__text {
  font-family: "Roboto";
  max-height: 308px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .comment-active {
    display: none !important;
  }
}
@-webkit-keyframes showComment {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showComment {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1590px) {
  .comment {
    min-width: 293px;
  }
}
@media (max-width: 999px) {
  .comment {
    min-width: 600px;
    height: 109px;
  }
  .comment__text {
    max-height: 38px;
  }
}
@media (max-width: 639px) {
  .comment {
    min-width: 300px;
    height: 109px;
  }
}/*# sourceMappingURL=testimonials.css.map */