body{
    overflow: auto;
    background: #ffffff;
}



@media (max-width: 999px){
    .header__menu{
        &.active{
            .menu{
                top: 0;
                
            }
            .header__menu-btn{
                > span::before, > span::after {
                    top: 0px;
                    background-color: #333B41;
                }
                > span::before{
                    transform: rotate(45deg);
                }
                > span::after{
                    transform: rotate(-45deg);
                }
    
            }
        }
    }
    body{
        &.lock{
            overflow: hidden;
            .opacity{
                display: block; 
                background: rgba(41, 41, 41, 0.6);
            }
            
        }
    }
}

.opacity{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all .3s;
    z-index: 121;
    animation: showOpacity .3s linear forwards;

}

@keyframes showOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.wrapper{
    overflow: hidden;
}

.container{
    max-width: 1190px;
    margin: 0 auto;
    
    padding: 0 15px;
}

@media (max-width: 1590px) {
    .container{
        max-width: 1000px;  

        padding: 0 30px; 
    }
}

@media (max-width: 999px) {
    .container{
        max-width: 640px;   
        padding: 0 20px; 
    }
}
@media (max-width: 639px) {
    .container{
        max-width: 320px;   
        padding: 0 10px; 
    }
}

.logo{
    display: block;
    min-width: 82px;
    height: 52px;
    background: url(../assets/icons/header__logo.png);
    background-repeat: no-repeat;
    
    background-position: center;
    object-fit: none;
    &:hover{
        cursor: pointer;
    }

}

.button{
    display: flex;
    width: 298px;
    height: 64px;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
   
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;

    -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    
    &:hover{
        background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%); 
        
    }
    &:active{
        background: #4B9200;
    }
}

.swiper{
    overflow: hidden;
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 40;
        position: absolute;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        top: 50%;
        transform: translateY(-50%);
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        &-prev{
            left: -82px;
        }
        &-next{
            right: -82px;
            img{
                transform: rotate(-180deg);
            }
        }
        &:hover{
            cursor: pointer;
            
        }

       
        &:active{
            background: #4B9200;
        }
        
       
    }
    &-button{
        &-disabled{
            background: linear-gradient(113.96deg, #6b6b6b 1.49%, #afafaf 101.44%);
            &:active{
                background: linear-gradient(113.96deg, #6b6b6b 1.49%, #afafaf 101.44%);
                
            }
        }
    }
    &-slide {
        max-width: 367px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2) !important;
 
       /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        

       
     }
}

@media (max-width: 1590px) {
    .swiper{
        &__button{
            top: calc(50% - 30px);
            
            &-prev{
                left: calc(50% - 85px)
            }
            &-next{
                right: calc(50% - 85px)
            }
        }
        &-slide{
            max-width: 293px;

        }
    }
}

@media (max-width: 639px) {
    .swiper{
        &__button{
            display: none;
        }
        &-slide{
            max-width: 293px;
        }
    }
}


.button-back{
    display: flex;

    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F9804B;
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 120;
    img{
        transform: rotate(90deg);
    }
    &:hover{
        cursor: pointer;
        background: #ff763c;
    }
    &:active{
        background: #4B9200;
    }
    &.active{
        pointer-events: all;
        opacity: 1;
    }

    
 }

@media (max-width: 999px) {
    .button-back{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 639px) {
    .button-back{
        right: 80px;
        bottom: 40px;
        display: none;
    }
}



.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__logo{
        display: none;
        min-width: 66px;
        height: 42px;
        background: url(../assets/icons/menu__logo.png);
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        &:not(:last-child){
            margin-right: 58px;;
        }
        &.active a{
            -webkit-background-clip:  text!important;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        }
        &:hover{
            cursor: pointer;
            .menu__link{
                color: #F9804B;
            }
        }
    }

    &__link{
        transition: all .3s;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
}





 
